*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.container {
  margin: 0 auto;
  width: 100%;
}

/* my workspace stylesheet */
nav {
  display: inline-flex;
  padding: 10px;
  margin: 12px;
}
.yt-logo {
  text-align: left;
}
.icons img {
  height: 40px;
  border-radius: 50%;
}
.icons p {
  text-align: right;
  float: right;
  background-color: greenyellow;
  font-size: 30px;
  font-weight: bold;
  font-family: arial;
}
.icons form {
  margin-left: 100px;
}
.search input {
  height: 40px;
  border: 1px solid #c0c0c0;
  color: #c0c0c0;
  font-weight: bolder;
  font-size: 15px;
}
.mic {
  margin-right: 40%;
}
button {
  border: none;
}
section {
  display: flex;
  margin-right: auto;
}
.main iframe {
  margin: auto;
  align: center;
  height: 573px;
  width: 1019px;
  border-radius: 5px;
}
.main {
  margin-left: 60px;
  padding-bottom: 10px;
  height: auto;
}
.description {
  color: dimgray;
  font-weight: bold;
  font-size: 25px;
  padding-bottom: 20px;
}
.view {
  color: gray;
  font-size: 20px;
}
.side-bar img {
  height: 150px;
  width: 300px;
  border-radius: 5px;
}
.side-bar {
  display: inline-flex;
  margin: auto;
  padding: 0 0 10px 15px;
}
.info {
  display: block;
  margin-left: 5px;
  margin-right: auto;
}
.info h1, .subscribers-detail h2 {
  font-weight: bold;
  padding-bottom: 10px;
}
.info p,
small,
.subscribers-detail h2,
.sub {
  color: dimgray;
  padding-bottom: 9px;
}
.subscribers {
  padding: 15px;
}
.subscribers-image img {
  border-radius: 50%;
  height: 50px;
}
.subscribers-detail {
  margin-left: 20px;
  padding-right: 10px;
}
.subscribers-btn button {
  background-color: red;
  color: white;
  font-weight: bolder;
  padding: 15px;
  margin-right: 100px;
  border-radius: 8px;
}
.comment {
  display: grid;
  padding-top: 5px;
}
.comment-count {
  color: dimgray;
  padding-bottom: 15px;
  font-size: 20px;
}
.comment-holder small {
  margin: 16px;
  color: floralwhite;
  border-radius: 60%;
  font-weight: bolder;
  background-color: darkgreen;
  padding: 15px;
}
.comment-holder input {
  border-top: 0;
  border-right: 0;
  border-left: 0;
  height: 30px;
  border-bottom: 1px solid #c0c0c0;
  background-color: #F8F8FF;
}
.comment-holder input:focus {
  outline: none;
}
.created-comment {
  padding: 15px;
}
.comment-creator-image img {
  border-radius: 50%;
  height: 50px;
}
.comment-creator {
  margin-left: 20px;
  padding-right: 10px;
}
.comment-creator p {
  padding-top: 5px;
  padding-bottom: 10px;
}
.comment-creator h2 {
  font-family: 'arial black';
  font-size: 13px;
}
.like-icon {
  height: 30px;
}
.dislike-icon {
  height: 20px;
  margin-left: 12px;
}
.view-reply {
  color: blue;
  font-weight: bold;
  margin-top: 10px;
}

hr {
  color: #c0c0c0;
}
body {
  background-color: #F8F8FF;
}
